<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="clear:both; margin: 10px; padding: 15px; background-color: #eee;">
        | <a style="margin: 5px;" th:href="@{/person}">Personnels</a>
        | <a style="margin: 5px;" th:href="@{/task}">Tasks</a>
        |
    </div>
    <div style="
        float: left;
        width: 200px;
        padding: 15px;
        border-right: 1px solid #bbb;
        height: 100vh;
        ">
        <h1>Task</h1>
        <form id="taskForm">
            <input type="hidden" name="id" id="hiddenId" value="NULL">
            <label for="task">
                <span style="display: inline-block; width: 105px;">Task: </span><br>
                <input type="text" name="task" id="task">
            </label><br>
            <label for="person_id">
                <span style="display: inline-block; width: 105px;">Personnel: </span><br>
                <select type="text" name="person_id" id="person_id">
                    <option th:each="person : ${persons}"
                        th:value="${person.id}"
                        th:text="${person.role} + ' - ' + ${person.firstName} + ' ' + ${person.lastName}"
                    ></option>
                </select>
            </label>
            <hr>
            <button type="submit" id="submit">Submit</button>    
            <button style="display: none" type=button id="cancel">Cancel</button>    
        </form>
    </div>
    <div style="
        float: left;
        width: calc(100% - 300px);
        padding: 15px;
        height: 100vh;
        ">
        <h1>List of Tasks</h1>
        <table border="1">
            <thead>
            <tr>
            <th>ID</th>
            <th>TASK</th>
            <th>PERSONNEL</th>
            <th>ACTION</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.id}"></td>
                <td th:text="${task.task}"></td>
                <td th:text="${task.person.firstName} + ' ' + ${task.person.lastName}"></td>
                <td>
                    <button th:onclick="@{'deleteTask(' + ${task.id} + ');'}">Delete</a>
                    <button th:inline="javascript" th:onclick="@{'editTask(' + ${task.id} + ');'}">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
            var tasks = /*[[${tasks}]]*/ 'default';
            console.log(tasks);
        /*]]>*/
        async function baseFetch(url, method='GET', data=null) {
            const response = await fetch(url, {
                method, 
                mode: "cors", 
                cache: "no-cache", 
                credentials: "same-origin", 
                headers: {
                    "Content-Type": "application/json",
                },
                redirect: "follow", 
                referrerPolicy: "no-referrer", 
                body: (data != null) ? JSON.stringify(data) : null, 
            });

            return await response.json();
        }


        async function deleteTask(id) {
            let continueDelete = confirm("Are you sure you want to delete this task?");
        
            if(continueDelete) {
                let { status, message } = await baseFetch("/task/" + id, "DELETE");

                alert(message);

                if(status == 'success') window.location.reload();
            }
        }

        async function editTask(id) {
            let toEdit = tasks.filter(t => t.id == id)[0];
            console.log(toEdit);

            if(toEdit) {
                task.value = toEdit.task;
                hiddenId.value = id;
                cancel.style.display = 'block';
            }
        }

        taskForm.onsubmit = async (e) => {
            e.preventDefault();
            let formData = new FormData(taskForm);

            if(formData.get("id") == 'NULL') {
                formData.set("id", null);
            }

            let data = {
                id: formData.get("id"),
                task: formData.get("task"),
                person_id: formData.get("person_id"),
            };

            console.log(data);
            let method = (formData.get('id') == "null") ? "POST" : "PUT";
            let { status, message } = await baseFetch("/task", method, data);

            alert(message);
            if(status == 'success') {
                hiddenId.value = "NULL";
                cancel.style.display = 'none';
                task.value = "";
                window.location.reload();
            } 
        }

        cancel.onclick = () => {
            cancel.style.display = 'none';
            hiddenId.value = 'NULL';
            task.value = "";
        }
    </script>
</body>
</html>